@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

h1, h2, h3 {
    color: #333;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}

p {
    color: #70747A;
    text-align: center;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

/* navbar */

.navbar-container {
    width: 100%;
    background-color: #232A31;
    padding: 0 2em;
}

.navbar-container .logo {
    height: 50px;
}

.navbar-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.navbar-container .navbar-items a {
    padding: 15px 20px;
    display: inline-block;
    color: white;
    transition: 0.5s;
}   

.navbar-container .navbar-items .login-btn {
    background-color: #2CC76A;
    border-radius: 5px;
}

.navbar-container .navbar-items a:hover {
    color: #ccc;
}

.navbar-container .navbar-items .login-btn:hover {
    background-color: #22BB5F;
}

/* main banner */
.main-banner {
    background-image: url(../imgs/mainbanner.png);
    background-position: center;
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-banner h1,
.main-banner p {
    color: #fff;
    font-weight: bold;
}

.main-banner h1 {
    font-size: 60px;
}

.main-banner p {
    font-size: 24px;
}

.main-banner,
main section {
    margin-bottom: 60px;
}

/* especialidades */

.specialties-container div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.specialty-item {
    display: flex;
    flex: 1 1 400px;
    flex-direction: column;
    padding: 20px;
}

.specialty-item i {
    font-size: 80px;
    margin: 0 auto 30px;
}

.specialty-item p {
    line-height: 30px;
}

.fa-shield-alt {
    color: #2CC76A;
}

.fa-rocket {
    color: #EF3F29;
}

.fa-comments {
    color: #EF8F29;
}

/* pricing */

.plans-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plan {
    flex: 1 1 200px;
    max-width: 275px;
    display: flex;
    flex-direction: column;
    margin: 40px 20px;
}

.price {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    line-height: 120px;
    border-radius: 50%;
    background-color: #2CC76A;
    position: relative;
    margin-bottom: -50px;
    color: white;
    font-size: 18px;
}

.plan-name {
    background-color: #202b34;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    padding: 60px 0 20px;
}

.plan-item {
    background-color: #e8e9ea;
    padding: 15px 0;
    color: #333;
}

.plan-btn {
    padding: 25px 0;
    background-color: #2CC76A;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.recommended {
    background-color: #f45c57;
}

/* search */

.search-domain-container {
    background-color: #34454e;
    padding: 80px 0;
}

.search-domain-container h2 {
    font-size: 42px;
    color: white;
    font-weight: bold;
}

.search-domain-container p {
    font-size: 24px;
    color: #ddd;
}

.search-domain-container form {
    margin: 20px auto 0;
    width: 60%;
}

.search-domain-container form input {
    display: block;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 10px;
}

.search-domain-container form input[type="text"] {
    margin-bottom: 20px;
    width: 100%;

}

.search-domain-container form input[type="submit"] {
    color: #fff;
    margin: 0 auto;
    background-color: #2CC76A;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.search-domain-container form input[type="submit"]:hover {
    color: #ccc;
    background-color: #22BB5F;
}

/* contact form */

.contact-container h2 {
    font-weight: bold;
    font-size: 32px;
}

.contact-container p {
    font-size: 18px;
}

.contact-container form {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
}

.contact-container form input,
.contact-container form textarea {
    margin: 10px 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
}

.contact-container form input:focus,
.contact-container form textarea:focus {
    background-color: #eee;
    border: 1px solid #bbb;
}

.contact-container .input-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-container .input-container input {
    flex: 1 1 200px;
}

.contact-container form textarea {
    height: 200px;
}

.contact-container form input[type="submit"] {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    background-color: #2CC76A;
    transition: 0.5s;
    cursor: pointer;
    font-size: 20px;
}

.contact-container form input[type="submit"]:hover {
    color: #ccc;
    background-color: #22BB5F;
}

footer p {
    margin: 50px 0;
    font-weight: bold;
    font-size: 24px;
}